@tailwind base;
@tailwind components;
@tailwind utilities;

/* for modals */
#modal-portal {
  /* backdrop-filter: blur(10px); */
  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-portal:empty {
  display: none;
}

@layer base {
  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url('/fonts/inter-regular-webfont.woff2') format('woff2'),
      url('/fonts/inter-regular-webfont.woff') format('woff');
  }

  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: url('/fonts/inter-medium-webfont.woff2') format('woff2'),
      url('/fonts/inter-medium-webfont.woff') format('woff');
  }

  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url('/fonts/inter-bold-webfont.woff2') format('woff2'),
      url('/fonts/inter-bold-webfont.woff') format('woff');
  }

  /* Write your own custom base styles here */
  h1 {
    @apply text-3xl font-bold md:text-5xl font-primary;
  }

  h2 {
    @apply text-2xl font-bold md:text-4xl font-primary;
  }

  h3 {
    @apply text-xl font-bold md:text-3xl font-primary;
  }

  h4 {
    @apply text-lg font-bold font-primary;
  }

  body {
    @apply text-sm font-primary md:text-base bg-[#333333] text-gray-100;
  }

  .layout {
    /* 750px */
    /* max-width: 43.75rem; */

    /* 1100px */
    max-width: 68.75rem;
    @apply w-11/12 mx-auto;
  }
}

.container > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  overflow: hidden;
}

.container > a::after {
  content: '';
  background: linear-gradient(transparent, black);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  transition-duration: 0.75s;
}

.container > a:hover::after {
  transform: translateY(50%);
}

.container > a > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 1s;
}

.container > a:hover > img {
  transform: scale(1.05);
}

.container {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--width), 1fr));
  grid-auto-rows: var(--height);
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}
